*#
*.csproj
*.csproj.user
*.d
*.log
*.o
*.pyc
*.userprefs
*core.*.local.*
.idea
.lfsconfig
.vs
GunsOfBoom-Client/Assembly-CSharp-Editor-firstpass.csproj
GunsOfBoom-Client/Assembly-CSharp-Editor.csproj
GunsOfBoom-Client/Assembly-CSharp-firstpass.csproj
GunsOfBoom-Client/Assembly-CSharp.csproj
GunsOfBoom-Client/Assets/FMODStudioCache.asset
GunsOfBoom-Client/Assets/FMODStudioCache.asset.meta
GunsOfBoom-Client/Assets/StreamingAssets/*.bank
GunsOfBoom-Client/Assets/StreamingAssets/*.bank.meta
GunsOfBoom-Client/Builds/
GunsOfBoom-Client/Library/
GunsOfBoom-Client/Temp/
GunsOfBoom-Client/*.CSharp.Editor.csproj
GunsOfBoom-Client/*.CSharp.csproj
GunsOfBoom-Client/*.VC.VC.opendb
GunsOfBoom-Client/*.VC.db
GunsOfBoom-Client/*.sln
GunsOfBoom-Client/obj/
GunsOfBoom-Client/.vscode/
lib/cmake/